@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.woff"); /* font-family: 'Montserrat', sans-serif; */
}

@font-face {
	font-family: "Kaushan Script";
	src: url("../fonts/Kaushan Script.woff"); /* font-family: 'Kaushan Script', cursive; */
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto.woff"); 
}

/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнул€ем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устран€ем отступы между €чейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию дл€ элементов форм (в частности дл€ checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы дл€ текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #999;
	font-family: 'Roboto', sans-serif;	
	text-align: left;
	font-size: 15px; /* используем безопасные шрифтовые CSS стеки */
	min-height: 100%;
}
a, a:visited { /* пор€док правил дл€ ссылок имеет значение */
	color: #fff;
	/* text-decoration: underline; */
}
a:hover {
	color: #fce38a;
	text-decoration:none;
}
a:focus, a:active {
	color: #fce38a;
	/* text-decoration: underline; */
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.central-page-box{
	max-width: 1200px; margin: 0 auto;
}
header{
	background: url(../images/head_main_picture.jpg) no-repeat; background-size: 100% 100%; 
}
	.header-top{
		
	}
		.logo{
			float:left; font-weight:700; color: #fff; font-size:30px; font-family: 'Montserrat', sans-serif; margin-top:25px;
		}
		.menu{
			float:right; margin-top:35px; font-size:14px; font-family: 'Montserrat', sans-serif;
		}
			.menu li{
				float:left; text-transform:uppercase; margin-left:50px;
			}
				.menu li a{
					color: #fff; text-decoration:none; padding-bottom:7px;
				}	
				.menu li a:hover{
					color: #fce38a; border-bottom:3px solid #fce38a;
				}
				.menu li a.hbasket:hover, .menu li a.hsearch:hover{
					border-bottom:none;
				}
		.header-main{
			text-align:center; margin-top:130px;		
		}
			.header-main h2{
				font-size:72px; color:#fff; font-family: 'Kaushan Script', cursive; line-height:1.4;
			}
			.header-main h1{
				font-size:150px; color:#fff; font-weight:700; font-family: 'Montserrat', sans-serif; line-height:1;  margin-top:15px; margin-bottom:20px;
			}	
			.header-main img{
				margin-bottom:35px; 
			}			
			a.learn-btn{
				color:#fff; display:inline-block; padding:10px 27px; border:3px solid #fff; text-decoration:none; font-size:14px; font-weight:600; font-family: 'Montserrat', sans-serif;
			}
			a.learn-btn:hover{
				color:#fce38a; border:3px solid #fce38a;
			}			
	.header-bottom{
		margin-top:70px;
	}
		.menu-hebottom{
			font-family: 'Montserrat', sans-serif; font-size:14px; 
		}
			.menu-hebottom li{
				float:left; text-transform:uppercase; width:23.3%; margin-left:2.26%;
			}
			.menu-hebottom li:first-child{
				margin-left:0%;
			}			
				.menu-hebottom li a{
					display:block; color: #fff; text-decoration:none; padding-bottom:15px; padding-top:15px; border-top:3px solid #f7eac5;
				}	
				.menu-hebottom li a span{
					font-size:18px; font-weight:700;
				}
				.menu-hebottom li a:hover{
					color: #fff; border-top:3px solid #f38181;
				}
			.story{
			text-align:center; margin-top:90px;		
		}
			.story h2{
				font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
			}
			.story h1{
				font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
			}
			.story>img{
				margin-bottom:40px; 
			}
			.story p{
				font-size:15px; color:#999; font-family: 'Roboto', sans-serif;	font-weight:normal;
			}
			
.story .story-box .flat{
	float:left;
	width:31.6%;
	margin-right:2.6%;
	position:relative;
}
.story .story-box .flat:last-child{
	margin-right:0%;	
}
	.story-box{
		margin-top:90px; margin-bottom:100px;
	}


.story-box .flat>img{
	max-width:100%;
	display:block;
}
.story .story-box .flat .descr{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9));	
	color:#fff;
	text-align:center;	
	display:none;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;		
}
.story .story-box .flat	.descr img{
		display:inline;
		padding-top:25%;
	}
.story .story-box .flat	.descr p{
		font-size:18px;
		font-weight:bold;
		color:#fff;
	}
	.story-box .flat:hover .descr{
		display:block;		
	}
	.story-box .flat:hover{
		box-shadow: 10px 10px 0px #95e1d3;
	}

.counters{
	background:#95e1d3;
}
	
	.counters .flat{
		float:left; width:20%; text-align:center; color:#fff; 
	}
		.counters .flat .count{
			border-right:1px solid #b5eae0; padding-top:70px; padding-bottom:60px;
		}
		.counters .flat .count:first-child{
			border-left:1px solid #b5eae0;
		}			
			.counters .flat	.digit{
				font-weight:700; font-family: 'Montserrat', sans-serif; font-size:72px; font-weight:bold;
			}	
			.counters .flat	.sign{
				font-size:14px;
			}
	 
			.amazing{
			text-align:center; margin-top:90px;		
			}
				.amazing h2{
					font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
				}
				.amazing h1{
					font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
				}
				.amazing>img{
					margin-bottom:40px; 
				}
				.amazing-box{
					margin-bottom:70px;
				}
					.amazing-box .amazing-box-1st{
						border-bottom:1px solid #e5e5e5;
					}					
						.amazing-box article{
							width:33.3%; float:left;
						}
							.amazing-box article .amazing-unit{
								padding:45px 40px 50px 25px;
							}		
								.amazing-box article .amazing-unit .left-unit{
									float:left; padding-bottom:30px; padding-right:20px;							
								}	
									.amazing-box article .amazing-unit .right-unit h3{
										font-family: 'Montserrat', sans-serif; font-size:14px; color:#333333; text-align:left; 
									}	
									.amazing-box article .amazing-unit .right-unit p{
										font-size:15px; text-align:left; font-family: 'Roboto', sans-serif;	
									}	
.alldev{
	background: url(../images/alldev_main_picture.jpg) no-repeat; background-size: 100% 100%; 	
}
	.alldev-center{
		text-align:center; padding-top:100px; position:relative; font-size:0px;
	}
		.alldev-center h2{
			font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
		}
		.alldev-center h1{
			font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
		}
		.alldev-center>img:last-child{
			margin-bottom:-5px; 
		}
		.alldev-center .styleiphone{
			position:absolute; bottom:-8%; left:62.5%; display:block;
		}
		

.service-read{
text-align:center; margin-top:90px;	margin-bottom:100px;	
}
	.service-read h2{
		font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
	}
	.service-read h1{
		font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
	}
	.service-read>img{
		margin-bottom:40px; 
	}
	.service-read p{
		font-size:15px; color:#999; font-family: 'Roboto', sans-serif;	font-weight:normal;
	}

	.service-read-box{
		margin-top:90px;
	}
		.service-read-box .left{
			float:left; width:47.5%; margin-right:2.5%;
		}
		.service-read-box .right{
			float:right; width:50%;
		}	
			.service-read-box .right .flat{
				border:1px solid #e5e5e5; padding:12px; margin-bottom:10px;
			}	
			.service-read-box .right .flat:first-child{
				margin-bottom:0px;
			}			
				.service-read-box .right .flat p{
					float:left;
				}
				.service-read-box .right .flat p.holder{
					line-height:0;
				}
				.service-read-box .right .flat p.header{
					font-family: 'Montserrat', sans-serif; color:#333333; font-size:14px; padding:7px 0px 7px 10px;
				}				
				.service-read-box .right .flat p.button_up{
					float:right; background: url(../images/service_read_arrow_up.png) no-repeat; width:22px; height:12px; margin:10px 0;
				}				
				.service-read-box .right .flat p.button_down{
					float:right; background: url(../images/service_read_arrow_down.png) no-repeat; width:22px; height:12px; margin:10px 0;
				}	
			.service-read-box .right .flat.opened{
				border:1px solid #e5e5e5; border-top:none; padding:18px; margin-bottom:10px; 				
			}
				.service-read-box .right .flat.opened p.left{
					 float:left; width:99%; font-family: 'Roboto', sans-serif; color:#999; font-size:15px; 	text-align:left; font-style:italic; line-height:1.6; margin-right:0;			
				}
				.service-read-box .right .flat.opened p.right{
					 float:right; width:1%;				
				}				
		
.team{
text-align:center; margin-top:90px;	margin-bottom:100px;	
}
	.team h2{
		font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
	}
	.team h1{
		font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
	}
	.team>img{
		margin-bottom:40px; 
	}
	.team p{
		font-size:15px; color:#999; font-family: 'Roboto', sans-serif;	font-weight:normal;
	}	
	.team .team-box{
			margin-top:90px; margin-bottom:100px;
		}		
		.team .team-box .flat{
			float:left;
			width:31.6%;
			margin-right:2.6%;	
		}
		.team .team-box .flat:last-child{
			margin-right:0%;	
		}
		.team-box .flat .player-cover{
			position:relative;
		}
			.team-box .flat .player-cover>img{
				max-width:100%;
				display:block;
			}		
			.team .team-box .flat .player-cover .descr{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9));	
				color:#fff;
				text-align:center;	
				display:none;
				-webkit-transition: all .25s;
				-o-transition: all .25s;
				transition: all .25s;		
			}
.team .team-box .flat	.descr img{
		display:inline;
		padding-top:25%;
	}
.team .team-box .flat .player-cover	.descr p{
		font-size:18px;
		font-weight:bold;
		color:#fff;
	}
	.team-box .flat .player-cover:hover .descr{
		display:block;	
	}
		.team-box .flat .player-cover .descr .player-social{
			 margin-top:50%; margin-left:22%;
		}
			.team-box .flat .player-cover .descr .player-social ul li{
					float:left; height:56px; width:55px; border-left:1px solid #f9bd87; cursor:pointer;
			}
			.team-box .flat .player-cover .descr .player-social ul li a{
    display: block;
   }   
			.team-box .flat .player-cover .descr .player-social ul li:hover{
				border-left:none;	
			}			
				.team-box .flat .player-cover .descr .player-social ul li.facebook{
					background: url(../images/team_icon_fb.jpg) no-repeat; background-size: 100% 100%;
				}			
				.team-box .flat .player-cover .descr .player-social ul li.twitter{
					background: url(../images/team_icon_tweeter.jpg) no-repeat; background-size: 100% 100%;
				}
				.team-box .flat .player-cover .descr .player-social ul li.pinterest{
					background: url(../images/team_icon_ro.jpg) no-repeat; background-size: 100% 100%;
				}
				.team-box .flat .player-cover .descr .player-social ul li.instagram{
					background: url(../images/team_icon_ins.jpg) no-repeat; background-size: 100% 100%;
				}	
				.team-box .flat .player-cover .descr .player-social ul li.facebook:hover{
					background: url(../images/team_icon_fb_hov.jpg) no-repeat; background-size: 100% 100%;
				}			
				.team-box .flat .player-cover .descr .player-social ul li.twitter:hover{
					background: url(../images/team_icon_tweeter_hov.jpg) no-repeat; background-size: 100% 100%;
				}
				.team-box .flat .player-cover .descr .player-social ul li.pinterest:hover{
					background: url(../images/team_icon_ro_hov.jpg) no-repeat; background-size: 100% 100%;
				}
				.team-box .flat .player-cover .descr .player-social ul li.instagram:hover{
					background: url(../images/team_icon_ins_hov.jpg) no-repeat; background-size: 100% 100%;
				}	
				.team-box .flat .player-cover .descr .player-social ul li a{
					display:block;
				}				
			
	.team-box .flat .player-cover:hover{
		box-shadow: 10px 10px 0px #95e1d3;
	}
	.team-box .flat .player-inf{
		margin-top:40px;
	}	
		.team-box .flat .player-inf h4{
			font-size:14px; font-family: 'Montserrat', sans-serif; color:#333333; padding-bottom:10px;
		}	
		.team-box .flat .player-inf h5{
			font-size:15px; 	font-family: 'Roboto', sans-serif; font-style:italic; color:#999999;
		}	
		
.logos{
	background:#f8f8f8; padding-top:70px; padding-bottom:70px;
}
	.logos-center ul{
		overflow:hidden;
	}
		.logos-center ul li{
			float:left; margin-right:6%;
		}
			.logos-center ul li:last-child{
				margin-right:1%;
			}
			.logos-center ul li:first-child{
				margin-left:1%;
			}
.someworks{
	margin-top:90px; margin-bottom:50px;	
}
	.someworks .someworks-text{
	text-align:center;	margin-bottom:100px;	
	}
		.someworks .someworks-text h2{
			font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
		}
		.someworks .someworks-text h1{
			font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px;
		}
		.someworks .someworks-text>img{
			margin-bottom:40px; 
		}
		.someworks .someworks-text p{
			font-size:15px; color:#999; font-family: 'Roboto', sans-serif;	font-weight:normal;
		}
	.someworks-slides{
		margin-top:90px; margin-bottom:100px;
	}		
		.someworks-slides .someworks-column{
			float:left;
			width:25%;
		}
			.someworks-slides .someworks-column article{
				position:relative;
			}
				.someworks-slides .someworks-column article>img{
					max-width:100%;
					display:block;
				}
				.someworks-slides .someworks-column article .descr{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252,227,138,0.9));	
					color:#fff;
					text-align:center;	
					display:none;
					-webkit-transition: all .25s;
					-o-transition: all .25s;
					transition: all .25s;		
				}
				.someworks-slides .someworks-column article:hover .descr{
						display:block;		
					}				
					.someworks-slides .someworks-column article	.descr img{
							display:inline;
							padding-top:30%;
						}						
					.someworks-slides .someworks-column article	.descr h2{
							text-transform:uppercase;
							font-family: 'Montserrat', sans-serif;
							font-size:14px;
							color:#fff;
							margin-top:5px;
						}	
					.someworks-slides .someworks-column article	.descr p{
							font-family: 'Roboto', sans-serif;	
							font-weight:200;
							font-style:italic;		
							font-size:15px;
							color:#fff;
							margin-top:5px;		
						}
						
.slider-1{
	margin-top:185px;
}						

.slider-2{
	margin-bottom:80px;
}			
												
				.slide-cover .left_center{
					float:left; width:22%;  text-align:center; margin-left:5%;
				}	
				.slide-cover .right_center{
					float:left; width:68%; margin-right:5%;  
				}			
					.slide-cover .right_center p{
						margin-top:30px; color:#999999; font-family: 'Roboto', sans-serif; font-style:italic; font-size:24px;	 
					}	
					.slide-cover .right_center a.slider-link{
						display:block; margin-top:10px; background: url(../images/story_mini_line.png) no-repeat 0 20px; padding-left:65px; font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive; text-decoration:none;
					}
.slider{
	position:relative
}					
.bx-prev{
	display:block;
	width:12px;
	height:22px;
	background: url(../images/arrow_prev.png) no-repeat;
	position:absolute;
	left:60px;
	margin-top:-120px;	
	text-indent:-9000px;
}
.bx-next{
	display:block;
	width:12px;
	height:22px;
	background: url(../images/arrow_next.png) no-repeat;
	position:absolute;
	right:60px;
	margin-top:-120px;
	text-indent:9000px;	
}
					
						
.people-say{
	background: url(../images/pep_say_bg.jpg) no-repeat; background-size: 100% 100%; padding-bottom:70px;			
}	
	.people-say .people-say-text{
	text-align:center;	padding-bottom:80px; padding-top:90px;
	}
		.people-say .people-say-text h2{
			font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
		}
		.people-say .people-say-text h1{
			font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px; text-transform:uppercase;
		}
		.people-say .people-say-text>img{
			margin-bottom:40px; 
		}
		.people-say .people-say-text p{
			font-size:15px; color:#999; font-family: 'Roboto', sans-serif;	font-weight:normal;
		}
		.people-say .people-say-content article{
			float:left; width:50%; margin-bottom:50px;
		}	
			.people-say .people-say-content article .left{
				float:left; width:30%;
			}
			.people-say .people-say-content article .left .box{
				padding-left:20%;
			}			
			.people-say .people-say-content article .right{
				float:right; width:70%; 
			}
				.people-say .people-say-content article .right .box{
					padding:10px 20px 0 0;
				}			
			
				.people-say .people-say-content article .right	h3{
					text-transform:uppercase; font-family: 'Montserrat', sans-serif; font-size:14px; color:#333333; padding-bottom:10px;
				}									
				.people-say .people-say-content article .right	h4{
					font-style:italic; color:#333333; 	padding-bottom:5px;
				}
				.people-say .people-say-content article .right .box img{
					padding-bottom:5px;
				} 	
				.people-say .people-say-content article .right .box p{
					font-size:15px; line-height:1.6;
				} 		
.blog{
	text-align:center;	padding-bottom:80px; padding-top:90px;
}
		.blog h2{
			font-size:24px; color:#333333; font-family: 'Kaushan Script', cursive;
		}
		.blog h1{
			font-size:30px; color:#333333; font-weight:700; font-family: 'Montserrat', sans-serif;  margin-top:15px; margin-bottom:35px; text-transform:uppercase;
		}
		.blog>img{
			margin-bottom:40px; 
		}
	.blog .blog-content{
		padding-top:40px;
	}		
		.blog .blog-content article{
			float:left; width:31.6%; margin-right:2.5%;
		}
		.blog .blog-content article:last-child{
			margin-right:0%;	
		}		
		
			.blog .blog-content article .photo-cover{
				position:relative; font-size:0;
			} 
				.blog .blog-content article .photo-cover img{
					max-width:100%;
				}			
			
				.blog .blog-content article .photo-cover .date-blog{
					position:absolute; bottom:3%; left:-2%; background:#95e1d3; padding:10px;
				}	
					.blog .blog-content article .photo-cover .date-blog	h3{
						color: #fff; font-size:30px; font-family: 'Montserrat', sans-serif;	font-weight:bold;					
					}
					.blog .blog-content article .photo-cover .date-blog	h4{
						color: #fff; font-size:15px; font-family: 'Roboto', sans-serif;	font-style:italic;	font-weight:light;					
					}	
			.blog .blog-content article .blog-inf{
				padding:20px 0; border-bottom:1px solid #e5e5e5;
			}
				.blog .blog-content article .blog-inf h3{
					color:#333333; font-size:14px; font-family: 'Montserrat', sans-serif; text-transform:uppercase; margin-bottom:7px;
				} 
				.blog .blog-content article .blog-inf p{
					color:#999999; font-size:15px; font-family: 'Roboto', sans-serif; line-height:1.6;
				} 				
			.blog .blog-content article .blog-count{
				padding:20px 0;
			}				
				.blog .blog-content article .blog-count .view{
					float:left;	background: url(../images/blog_icon_1.png) no-repeat 0 3px; padding-left:25px; margin-right:15px; color: #999999; font-size:15px; font-family: 'Roboto', sans-serif;	font-style:italic;	
				}
				.blog .blog-content article .blog-count .comments{
					float:left;	background: url(../images/blog_icon_2.png) no-repeat 0 1px; padding-left:20px;  margin-right:5px; color: #999999; font-size:15px; font-family: 'Roboto', sans-serif;	font-style:italic;	
				}		
.map-holder{
	text-align:center; background: url(../images/map_holder_bg.jpg) no-repeat; background-size: 100% 100%; padding:50px 0; margin-bottom:70px;
}
	.map-holder a{
		text-decoration:none;
	}
		.map-holder a h2{
			color:#f38181; font-size:24px; font-family: 'Montserrat', sans-serif; text-transform:uppercase; font-weight:bold; margin:5px 0;
		}
.others{
	padding-bottom:60px; border-bottom:1px solid #e5e5e5;
}		
	.others article{
		float:left;
	}
	.others article.socials{
		width:40%; margin-right:2.2%;
	}
			.others article.socials .socials_1 h3{
				font-family: 'Montserrat', sans-serif; font-size:46px; font-weight:bold; color:#cccccc; margin-bottom:25px;
			}
			.others article.socials .socials_1 p{
				color: #999999; font-size:15px; font-family: 'Roboto', sans-serif; line-height:1.6;
			}	
			.others article.socials .socials_1 h4{
				font-family: 'Montserrat', sans-serif; color:#333333; font-size:14px; margin-top:40px; padding-bottom:15px; border-bottom:1px solid #e5e5e5; 
			}
				.others article.socials .socials_1 h4 span{
					font-size:18px; font-weight:bold;
				}
		.others article.socials .socials_2{
			padding:15px 0;
		}				
			.others article.socials .socials_2 p{
				float:left; color:#999999; font-style:italic; font-size:15px; font-family: 'Roboto', sans-serif;
			}
			.others article.socials .socials_2 nav{
				float:left;
			}
					.others article.socials .socials_2 nav ul li{
						float:left; margin-left:15px;
					}
		.others article.socials .socials_3{
			padding-top:15px; padding-bottom:15px;
		}				
					.mail{
						border:1px solid #e7e7e7; border-right:none; float:left; padding:15px 12px 14px 12px; color:#bdb9b9; font-style:italic; font-size:15px; font-family: 'Roboto', sans-serif;
					}
					.submit{
						float:left; background:#95e1d3; color:#ffffff; padding:15px 30px; border:none; font-family: 'Montserrat', sans-serif; font-size:14px; font-weight:bold;
					}				
	
	.others .flat.blogs{
		width:30%; margin-right:5.3%; height:100px;
	}
		.others .flat.blogs h3{
			color:#333333; margin-top:10px; text-transform:uppercase; margin-bottom:30px;
		}
			.others .flat.blogs .blog-content{
				margin-bottom:30px;
			}
				.others .flat.blogs .blog-content .photo-cover{
					float:left; font-size:0; width:40%;
				}
				.others .flat.blogs .blog-content .text-cover{
					float:left;	width:60%;
				}				
					.others .flat.blogs .blog-content .text-cover a{
						text-decoration:none;
					}	
					.others .flat.blogs .blog-content .text-cover .text{
						display:block; color:#333333; font-family: 'Montserrat', sans-serif; font-size:12px; line-height:1.5; text-transform:uppercase; margin-bottom:5px; margin-top:10px;
					}
					.others .flat.blogs .blog-content .text-cover .date{
						color:#999999; font-family: 'Roboto', sans-serif; font-style:italic; font-size:13px;
					}					
					
	.others article.instagram{
		width:22.5%; height:100px;
	}
		.others article.instagram h3{
			color:#333333; margin-top:10px; text-transform:uppercase; margin-bottom:30px;
		}
		.others article.instagram .photo-cover{
			float: left; width:32.9%; margin:0.2%; font-size:0;
		}		
		.others article.instagram a.more{
			color:#333333; font-family: 'Roboto', sans-serif; font-style:italic; font-size:13px; text-decoration:none; margin-top:15px; display:block;
		}
footer{
	text-align:center; padding:25px 0;
}
	footer a{
		color:#333333; font-family: 'Montserrat', sans-serif; font-size:13px; text-decoration:none;
	}
		footer a span{
			color:#f38181;
		}

/*dropdown_menu*/		
#menu1{
display: none;
}
/*dropdown_menu*/	

/*dropdown_menu*/		
#menu2{
display: none;
}
/*dropdown_menu*/	
/*dropdown_menu*/		
#menu3{
display: none;
}
/*dropdown_menu*/	